---
import ColorsComponent from "./ColorsComponent.astro";
import products from "../../assets/products/allProducts.json";
import { Image } from "astro:assets";
import SelectedColor from "./SelectedColor";
import AddToCartButton from "./AddToCartButton";
const { productId } = Astro.params;
const product = products[productId];
---

<section class="flex flex-col sm:flex-row pt-6 sm:pt-20 justify-evenly pb-0 mb-24">
  <!-- photos section -->
  <div class="flex-1">
    <div class="h-96 relative">
      <Image class="h-full w-full absolute object-scale-down" height={800} width={800} src={product.image} alt="" />
    </div>
  </div>
  <!-- info section -->
  <div class="w-full sm:w-2/3 flex flex-col sm:flex-row flex-1">
    <div
      class="w-fit sm:border-r-2 sm:pr-5 relative px-3 sm:pl-0"
      style={product.colors.length === 0 && { borderRight: "0px" }}
    >
      <div class="font-bold flex flex-col gap-1">
        <h2 class="text-xl">{product.name}</h2>
        <div class="flex justify-between items-center">
          <div class="flex items-baseline">
            <p class="text-lg font-normal">{product.price} zł</p>
            {product.volume && <p class="text-sm font-light ml-1">/ {product.volume}</p>}
          </div>
          <SelectedColor client:load firstColor={product?.colors?.[0]} />
        </div>
        <AddToCartButton {product} client:load />
        <div
          class="flex justify-between gap-x-4 gap-y-2 p-2 text-sm font-medium tracking-tight whitespace-nowrap flex-wrap"
        >
          <div class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
            <p>Darmowa przesyłka od 119 zł</p>
          </div>
          <div class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
              ></path>
            </svg>
            <p>
              Wysyłamy w <span class="text-green-500">24 h</span>
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 pb-10">
        <div>
          <h3 class="font-semibold">Opis</h3>
          <q class="text-sm font-light text-zinc-800 px-2">
            {product.description}
          </q>
        </div>
        <button class="font-semibold flex cursor-pointer gap-1 group w-fit">
          <span>Jak stosować</span>
          <div class="transition-transform group-hover:translate-x-1">&#x2192;</div>
        </button>
        <button class="font-semibold flex cursor-pointer gap-1 group w-fit">
          <span>Składniki</span>
          <div class="transition-transform group-hover:translate-x-1">&#x2192;</div>
        </button>
      </div>
    </div>
    {product.colors.length > 0 && <ColorsComponent colors={product.colors} transition:name="none" />}
  </div>
</section>
