---
import { Image } from "astro:assets";
const { item, clamp = "4", isWide = false, isTall = false, next = false, horizontal = false } = Astro.props;
---

<a
  href={next ? "" : "/product/" + item?.productId}
  class="inline-flex select-none"
  class:list={[{ "lg:row-span-2": isTall, "lg:col-span-2 gap-0": isWide }]}
  style={{ "-webkit-tap-highlight-color": "transparent" }}
>
  <article
    class:list={[
      "min-h-[250px] min-w-[300px] transition duration-200 ease-in-out sm:hover:shadow-md sm:hover:scale-105 border border-transparent hover:border-inherit bg-white cursor-pointer flex flex-col gap-4 items-center overflow-hidden group p-3 lg:pt-6 select-none snap-center",
      {
        "lg:row-span-2": isTall,
        "lg:col-span-2 gap-0": isWide,
        "items-center justify-center": next,
        "sm:min-w-full": !horizontal,
      },
      isWide && "lg:flex-row",
    ]}
  >
    {
      next ? (
        <h2 class="text-xl font-light">Zobacz więcej</h2>
      ) : (
        <>
          <div class="relative z-0 h-full w-full">
            <Image
              class="absolute object-scale-down h-full w-full pointer-events-none"
              src={item.image}
              height="250"
              width="250"
              alt={item.name}
              draggable="false"
            />
          </div>
          <div class:list={["relative flex items-center w-full", { "lg:h-full": isWide }]}>
            <div class="h-full w-full">
              <div class="h-full flex flex-col justify-end">
                <h3 class="capitalize line-clamp-2 text-ellipsis font-medium tracking-wide">{item.name}</h3>
                <div class="">
                  <div class="w-full border-b my-2" />
                  <div class="flex justify-between items-center gap-2">
                    <div class="flex gap-2 items-center">
                      {item.colors.slice(0, 3).map(({ color }) => (
                        <div class="h-4 w-4 rounded-full shadow-md" style={{ backgroundColor: color }} />
                      ))}
                      {item.colors.length > 3 && <span class="text-xs">+{item.colors.length - 3}</span>}
                    </div>
                    <p class="text-right">
                      {item.price !== item.regularPrice && <span class="line-through">{item.regularPrice} zł</span>}{" "}
                      <span class:list={{ "text-red-600": item.price !== item.regularPrice }}>{item.price} zł</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </>
      )
    }
  </article>
</a>
